java task 3/xml&xsd/Record.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="recordBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="allName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lastName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element name="firstName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?"/>
							</xs:restriction>
						</xs:simpleType>			
					</xs:element>
                    <xs:element name="middleName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?"/>
							</xs:restriction>
						</xs:simpleType>
						
					</xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nickname">
				<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[a-zA-Z][\w]{4,19}"/>
							</xs:restriction>
						</xs:simpleType>	
			  </xs:element>
              <xs:element type="xs:string" name="comment"/>
              <xs:element name="userGroup">
			  <xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Student"/>
					<xs:enumeration value="Junior"/>
					<xs:enumeration value="Middle"/>
					<xs:enumeration value="Senior"/>
				</xs:restriction>
				</xs:simpleType>
			  </xs:element>
              <xs:element name="homeTelephoneNumber">
			  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\+\d{1,3}\d{1,4}\d{5,8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
              <xs:element name="mobileTelephoneNumber">
			  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\+\d{1,3}\d{1,4}\d{5,8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
              <xs:element name="secondMobileTelephoneNumber" minOccurs="0">
			  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\+\d{1,3}\d{1,4}\d{5,8}"/>
							</xs:restriction>
						</xs:simpleType>
			  </xs:element>
              <xs:element type="xs:string" name="email">
			  
			  </xs:element>
              <xs:element name="skype">
			  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[a-zA-Z][\w\-\.]{4,29}"/>
							</xs:restriction>
						</xs:simpleType>
			  </xs:element>
              <xs:element name="fullAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="index">
					<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[0-9]{4,6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element name="city">
					<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?(\s[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?)?"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element name="street">
					<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?(\s[A-Z][a-z]*'?[a-z]+(-[A-Z][a-z]*'?[a-z]+)?)?\s(street|square|road)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element name="houseNumber">
					<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\d{1,3}([a-z]?|[/-]\d{1,3})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element name="apartmentNumber">
					<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\d{1,3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="inputDate">
			  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(0[1-9]|[12]\d|3[01])/(0[1-9]|1[012])/(19|20)\d\d"/>
							</xs:restriction>
						</xs:simpleType>
			  </xs:element>
              <xs:element name="changeDate">
			  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(0[1-9]|[12]\d|3[01])/(0[1-9]|1[012])/(19|20)\d\d"/>
							</xs:restriction>
						</xs:simpleType>
			  </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>